{%extends "base.html"%}
{% load static%}

{% block title%}
 My Blog
{% endblock %}

{% block css_files%}
<link rel="stylesheet" href="{% static "blog/index.css" %}">
{% endblock %}

{% block content%}
<header id="main-navigation">
    <h1><a href="">Deshmukh's Blog</a></h1>
    <nav>
        <a href="">All Posts</a>
    </nav>
</header>
 
<section id="welcome">
    <header>
        <img src="" alt="The Author" />
        <h2>Deshmukh's Blog</h2>
    </header>
    <p>Welcome to my blog. I am a software developer and I love to write about programming and software development. I hope you enjoy reading my posts.</p>
</section>

<section>
    <h2>Recent Posts</h2>

    <ul>
        <li>
            <article class="post">
                <a href="">
                    <img src="" alt="Mountain Hiking" />
                    <div class="post__content">
                        <h3>Mountain Hiking</h3>
                        <p>There's nothing like hiking in the mountains. The fresh air, the beautiful views, and the sense of accomplishment when you reach the summit. 
                            In this post, I share some of my favorite mountain hiking experiences.</p>
                    </div>
                </a>
            </article>
        </li>
    </ul>
</section>

<section id="about">
<h2>About Me</h2>
<p>Hi, I'm Deshmukh. I'm a software developer and I love to write about programming and software development. I hope you enjoy reading my posts.</p>
<p>My goal is to share my knowledge and experience with others who are interested in learning more about software development. 
    I believe that everyone has the potential to become a great developer, and I want to help you reach your full potential.</p>
</section>
{% endblock %}
