{% load static %}
<li>
    <article class="post">
        <a href="{%url "post-detail-page" "the-mountains"%}">
            <img src="" alt="Mountain Hiking" />
            <div class="post__content">
                <h3>Mountain Hiking</h3>
                <p>There's nothing like hiking in the mountains. The fresh air, the beautiful views, and the sense of accomplishment when you reach the summit. 
                    In this post, I share some of my favorite mountain hiking experiences.</p>
            </div>
        </a>
    </article>
</li>